main{
    height: 340vh;
    background-image: url(/acback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

header{
    display: flex;
    background-color: black;
    color: white;
    background-blend-mode: exclusion;
    
}
.heading{
    display: flex;
padding-inline: 100vh;
    
}

.achievement1{
    color: white;
    width: 193vh;
}

.intro{
    color: white;
    font-size: 20px;
}

footer{
    background-color: black;
    color: white;
}