@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

.body-font{
    font-family: 'Cairo', sans-serif;
}


.flex-all-center{
    display: flex;
justify-content: center;
align-items: center;
}